*{

margin: 0;
padding: 0;

background-color: #6e6e6e;

}

#Info{

	border-color: #DC8C00;
	border-style: groove;
	border-radius: 20;
	border-width: 10px;

	width: 17em;
	height: 25em;
	/*background-color: #00FF00;*/
	padding: 10px;

	float: left;


}

#SysInfo{

	margin-left: 20em;

	border-color: #DC8C00;
	border-style: groove;
	border-radius: 20;
	border-width: 10px;
	padding: 10px;


}


#VPN{

	margin-left: 20em;

	border-color: #DC8C00;
	border-style: groove;
	border-radius: 20;
	border-width: 10px;
	padding: 10px;
	height: 100px;

}



h1{
	font-size: 72pt;
}
h2{
	font-size: 32pt;
}
.infoHeadline{

	font-size:24pt;
	font-weight:bold;
	margin-bottom: -15px;


}
.infos{

	font-size: 19pt;

}

.headline{
	
	margin: 0 auto;
	height: 140px;
	width: 750px;
	color: #DC8C00;

}