*{

	margin: 0;
	padding: 0;
	background-color: #7e7e7e;

}

#leftdiv{

	float: left;
	width: 17em;
	margin-left: 5px;
	margin-bottom: 5px;
	margin-right: 5px;

}


#Info{

	border-color: #DC8C00;
	border-style: groove;
	border-radius: 20;
	border-width: 10px;
	margin-bottom: 5px;
	width: 100%;
	padding: 10px;

}

#guidLinks{

	border-color: #DC8C00;
	border-style: groove;
	border-radius: 20;
	border-width: 10px;
	width: 100%;
	height: auto;
	text-align: center;
	padding: 10px;

}



#SysInfo{

	margin-left: 20em;
	margin-right: 5px;
	height: auto;
	border-color: #DC8C00;
	border-style: groove;
	border-radius: 20;
	border-width: 10px;
	padding: 10px;

}


#VPN{

	margin-top: 5px;
	margin-right: 5px;
	margin-left: 20em;
	border-color: #DC8C00;
	border-style: groove;
	border-radius: 20;
	border-width: 10px;
	padding: 10px;
	height: auto;

}

h1{
	font-size: 72pt;
}

h2{
	font-size: 32pt;
}

h3{
	font-size: 19pt;
}

.infoHeadline{

	font-size:24pt;
	font-weight:bold;
	margin-bottom: -15px;

}
.infos{

	font-size: 19pt;

}

.headline{
	
	margin: 0 auto;
	height: 140px;
	width: 750px;
	color: #DC8C00;

}

.links{

	color: #000000;
	text-decoration: none;
	font-weight: lighter;

}